includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 10
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined static method Locale::getISOCountries\(\)\.#'